# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-or-anon-key

PROXY_DOMAIN=p.webshare.io
PROXY_PORT=80
PROXY_USERNAME=nxdwsysg-rotate
PROXY_PASSWORD=um5k8w24l6f9
